
<form action="<%= post_update_tweet_path %>" method="post" onsubmit="return validateMyForm();">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <h2>Old Content</h2>
  <br>
  <p>
    <%= @post.content %>
  </p>

  <br><hr><br>

  <label for="content">Content</label>
  <textarea name="content" id="content" cols="30" rows="10" minlength="1" maxlength="140" required><%= @post.content %></textarea>

  <button type="submit" name="submit" onclick="window.localStorage.removeItem(lstag)">UPDATE</button>
</form>

<script>
    function validateMyForm() {
        return confirm('Are you sure you want to update this tweet ?');
    }
</script>
