/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
}

header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

nav ul {
    list-style: none;
    font-size: 20px;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 10px;
    background: #2E2F30;
}

nav ul li a {
    text-decoration: none;
    color: #CCCCCC;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-bottom: 50px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    text-transform: uppercase;
}

.showBtn {
    padding: 10px;
    background: cornflowerblue;
    text-align: center;
    text-transform: uppercase;
}

.showBtn a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.flex-container > div > a {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
}

button[type=submit], input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

form {
    border-radius:5px;
    background-color:#f2f2f2;
    padding:40px;
}

form > label, button {
    font-size: 22px;
}

.alert {
    padding: 20px;
    background-color: gray;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.alert.danger {background-color: #f44336;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}










